<?xml version="1.0" encoding="UTF-8"?>
<configuration >
	<property name="LOG_HOME" value="/home/shared_disk/tomcat_logs" />
	<property name="PROJECT_NAME" value="push-service" />
	<property name="printPattern" value="%date [%thread] %highlight(%-5level) %cyan(%logger{50}) - %msg%n" />
	<property name="outPutPattern" value="%date [%thread] %-5level %logger{80} - %msg%n" />
	<!-- 控制台输出 -->
	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>${printPattern}</pattern>
		</encoder>
	</appender>

	<!-- info输出 -->
	<appender name="info-file" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${LOG_HOME}/${PROJECT_NAME}_info.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${LOG_HOME}/${PROJECT_NAME}_info.%d{yyyy-MM-dd}.log.zip</FileNamePattern>
			<maxHistory>30</maxHistory><!--文件保留30天-->
			<totalSizeCap>3GB</totalSizeCap><!--日志所有文件总大小为3GB-->
		</rollingPolicy>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>${outPutPattern}</pattern>
			<charset>UTF-8</charset> <!-- 此处设置字符集 -->
		</encoder>
	</appender>

	<!-- ERROR输出 -->
	<appender name="error-file" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>ERROR</level>
		</filter>
		<File>${LOG_HOME}/${PROJECT_NAME}_error.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${LOG_HOME}/${PROJECT_NAME}_error.%d{yyyy-MM-dd}.log.zip</FileNamePattern>
			<maxHistory>30</maxHistory><!--文件保留30天-->
			<totalSizeCap>3GB</totalSizeCap><!--日志所有文件总大小为3GB-->
		</rollingPolicy>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>${outPutPattern}</pattern>
			<charset>UTF-8</charset> <!-- 此处设置字符集 -->
		</encoder>
	</appender>

	<root level="INFO">
		<appender-ref ref="info-file"/>
		<appender-ref ref="error-file" />
		<appender-ref ref="stdout" />
	</root>
</configuration> 